.img{
    width: 100px;
    height: 100px;
    padding-left: 10px;
}

.container{
    display: flex;
}

.info_profile p{
    margin: 0;
    padding-left: 20px;
}

.h2_title{
    padding-left: 20px;
    margin-top: -25px;
}

