.nav {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px silver,
    0.3em 0.3em 1em #050404;
    height: 350px;
    min-width: 188px;
}

nav a{
    text-decoration: none;
    color: #050404;

}
.active{
    color: #253475;
    background-color: silver;
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.item {
    transition: 0.5s;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    transition: 0.5s;
}

.block_button{
    padding-top: 20px;
    min-height: 50px;
}

.block_button:hover{
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 10px;
    transition: 0.5s;
}