.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogs_items{
    padding: 10px;
}

.dialogs_items a{
    text-decoration: none;
    color: #050404;
}

.massage{
 padding: 10px;
}

.dialogs_items a:hover{
    color: #f0f3f0;
    background-color: silver;
    padding: 10px;
    border-radius: 20px;
}

.active{
    color: #f0f3f0;
    background-color: silver;
    padding: 10px;
    border-radius: 20px;
}

.button_style{
    border-radius: 20px;
    background-color: #5e6eaf;
    min-height: 30px;
    width: 100px;
    float: right;
    transition: 0.5s;
}

.button_style:hover{
    background-color: #f0f3f0;
    transition: 0.5s;
    cursor: pointer;
}

.massage_input_text{
    border-radius: 50px;
}

textarea{
    padding: 10px 20px;
}