.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogs_items{
    padding: 10px;
}

.dialogs_items a{
    text-decoration: none;
    color: #050404;
}

.massage{
 padding: 10px;
}

.dialogs_items a.active{
    padding: 10px;
    color: green;
    text-decoration: none;
}